{% extends 'base.html' %}

{% block title %}
    {{ _('Energy converter') }}
{% endblock title %}

{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/converter.css') }}?v=2"
/>

{% endblock css %}

{% block body %}
<main>
  <section>
    <h1 class="page-title">{{ _('Energy Converter') }}</h1>
    <label for="from-unit">{{ _('From') }}</label>
    <select id="from-unit">
      <option value="1">{{ _('Joules (J)') }}</option>
      <option value="2">{{ _('Kilojoules (kJ)') }}</option>
      <option value="3">{{ _('Calories (cal)') }}</option>
      <option value="4">{{ _('Kilocalories (kcal)') }}</option>
      <option value="5">{{ _('Watt-hour (Wh)') }}</option>
      <option value="6">{{ _('Kilowatt-hour (kWh)') }}</option>
    </select>

    <label for="from-value">{{ _('Enter value') }}</label>
    <input type="text" id="from-value" />

    <div class="button-row">
      <button id="convert-btn">{{ _('Convert') }}</button>
      <button id="clear-btn">{{ _('Clear') }}</button>
    </div>

    <label for="to-unit">{{ _('To') }}</label>
    <select id="to-unit">
      <option value="1">{{ _('Joules (J)') }}</option>
      <option value="2">{{ _('Kilojoules (kJ)') }}</option>
      <option value="3">{{ _('Calories (cal)') }}</option>
      <option value="4">{{ _('Kilocalories (kcal)') }}</option>
      <option value="5">{{ _('Watt-hour (Wh)') }}</option>
      <option value="6">{{ _('Kilowatt-hour (kWh)') }}</option>
    </select>

    <label for="to-value">{{ _('Converted value') }}</label>
    <input type="text" id="to-value" readonly />

    <div id="result-message">
      <p><em>{{ _('Converted Value is:') }}</em> <strong id="desc-result"></strong></p>
    </div>

    <div id="error-message">
      <p><strong id="error-text"></strong></p>
    </div>
  </section>
</main>
{% endblock body %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/converter.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    initConverter('convert_energy');
  });
</script>
{% endblock scripts %}
