{% extends 'base.html' %}
{% block title %} {{ _('Home') }} {% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=2">
{% endblock css %}


{% block body %}

<main>
  <section>
    <div><h2>{{ _('Let\'s convert something') }}</h2></div>
    
    <div><a href="{{ url_for('length') }}">{{ _('Length/Distance') }}</a></div>
    <div><a href="{{ url_for('mass') }}">{{ _('Mass/Weight') }}</a></div>
    <div><a href="{{ url_for('time') }}">{{ _('Time') }}</a></div>
    <div><a href="{{ url_for('temperature') }}">{{ _('Temperature') }}</a></div>
    <div><a href="{{ url_for('speed') }}">{{ _('Speed') }}</a></div>
    <div><a href="{{ url_for('volume') }}">{{ _('Volume') }}</a></div>
    <div><a href="{{ url_for('area') }}">{{ _('Area') }}</a></div>
    <div><a href="{{ url_for('data_storage') }}">{{ _('Data Storage') }}</a></div>
    <div><a href="{{ url_for('energy') }}">{{ _('Energy') }}</a></div>
    <div><a href="{{ url_for('pressure') }}">{{ _('Pressure') }}</a></div>
    <div><a href="{{ url_for('urlcode') }}">{{ _('URL Encode/Decode') }}</a></div>
    <div><a href="{{ url_for('base64code') }}">{{ _('Base64 Encode/Decode') }}</a></div>
    
  </section>
</main>

{% endblock body %}
