{% extends 'base.html' %}

{% block title %}
    {{ _('Length converter') }}
{% endblock title %}

{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/converter.css') }}?v=2"
/>

{% endblock css %}

{% block body %}
<main>
  <section>
    <h1 class="page-title">{{ _('Length Converter') }}</h1>
    <label for="from-unit">{{ _('From') }}</label>
    <select id="from-unit">
      <option value="mm">{{ _('Millimeter (mm)') }}</option>
      <option value="cm">{{ _('Centimeter (cm)') }}</option>
      <option value="m">{{ _('Meter (m)') }}</option>
      <option value="km">{{ _('Kilometer (km)') }}</option>
      <option value="in">{{ _('Inch (in)') }}</option>
      <option value="ft">{{ _('Foot (ft)') }}</option>
      <option value="yd">{{ _('Yard (yd)') }}</option>
      <option value="mi">{{ _('Mile (mi)') }}</option>
    </select>

    <label for="from-value">{{ _('Enter value') }}</label>
    <input type="text" id="from-value" />

    <label for="to-unit">{{ _('To') }}</label>
    <select id="to-unit">
      <option value="mm">{{ _('Millimeter (mm)') }}</option>
      <option value="cm">{{ _('Centimeter (cm)') }}</option>
      <option value="m">{{ _('Meter (m)') }}</option>
      <option value="km">{{ _('Kilometer (km)') }}</option>
      <option value="in">{{ _('Inch (in)') }}</option>
      <option value="ft">{{ _('Foot (ft)') }}</option>
      <option value="yd">{{ _('Yard (yd)') }}</option>
      <option value="mi">{{ _('Mile (mi)') }}</option>
    </select>

    <label for="to-value">{{ _('Converted value') }}</label>
    <input type="text" id="to-value" readonly />

    <div id="result-message">
      <p><em>{{ _('Converted Value is:') }}</em> <strong id="desc-result"></strong></p>
    </div>

    <div id="error-message">
      <p><strong id="error-text"></strong></p>
    </div>
  </section>
</main>
{% endblock body %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/converter.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    initConverter('convert_length');
  });
</script>
{% endblock scripts %}
